<!DOCTYPE html>
<html>
<head>
<title>Reporte</title>
<style>
    #dates{
	display:flex;
	flex-direction:column
    }

    #dates > div{
	border:1px solid black;
	background-color:grey;
    }
    form {
	display:grid;
	grid-template-rows: 90% 10%
    }
    body{
	margin-left:35%;
	margin-top:5%;
	border:1px solid black;
	width: 500px;
    }

    .apendix{
	display:flex;
	flex-direction:row;
	justify-content: space-around
    }
</style>
</head>
<body>

<h1>Scrap SBS data by date</h1>
<p>Choose the dates you want</p>
<form style="width:500px;height:300px" onsubmit="submitFormReport(event)">
    <div>
	<input 
	    type="date" 
	    id="dateSelector" 
	    onchange="dates.innerHTML+=`<label>${event.target.value}<input name=${event.target.value} hidden value=${event.target.value}/></label>`" 
	    onfocus="this.max=new Date().toISOString().split('T')[0]" 
	/>
	<div id="dates"></div>
    </div>
    <button id="send">Send information</button>
</form>
<div class="apendix">
    <button id="timer" style="height:30px;margin-top:15px;">0</button>
    <a href="../obtain" id="export">
	<img src="../static/excel_icon.jpg" width=50 height=50>
    </a>
</div>
<script>
    window.onload = (event) => {
	document.getElementById("timer").hidden=true;
	document.getElementById("export").hidden=true;
    }

    function submitFormReport(e){
	e.preventDefault();
	const formData = new FormData(e.target);
	const formProps = Object.fromEntries(formData);

	const dates_list = Object.keys(formProps).map(date => date.split("-").reverse().join("/"));
	getReport(dates_list);
    }

    function getReport(dates){
	const options = {
	    method: 'POST',
	    headers: {
	    'Content-Type': 'application/json',
	    },
	    body: JSON.stringify(dates),
	};
	const export_tag = document.getElementById("export");
	const send_button = document.getElementById("send");
	const timer = document.getElementById("timer");

	send_button.disabled=true;
	export_tag.hidden=true;
	timer.hidden=false;

	let interval = setInterval(() => {
	    timer.innerHTML = parseFloat(timer.innerHTML)+1;
	},1000);

	fetch('http://127.0.0.1:8001/generate', options).then(response => {
	    export_tag.hidden=false;
	    send_button.disabled=false;
	    clearInterval(interval);
	    })
    }
</script>
</body>
</html>
